main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5 0rem
}

.rating span {
	margin: .01rem;
}

a {
	text-decoration: none !important
}

.btn-link {
	text-decoration: none !important;
}

.btn:hover {
	color: #fff !important;
}

.logout {
	padding: .56rem .5rem !important;
	color: rgba(255, 255, 255, .5) !important;
	text-decoration: none !important;
	font-size: .765625rem !important;
	text-transform: uppercase !important;
	font-weight: 600 !important;
	letter-spacing: 1px !important;
}